



body {
    background-color: lavender;
}

.row{   
   display:flex;
   justify-content: space-around;
    background-color:lavender;
    color:black;
    font-size:20px;
    font-family:"Oswald", sans-serif;

}
.headshot{
    width:30%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black; 
    font-size:30px;
}